__pycache__
OriginalReviews.zip
CornacExp**
out/amazon-out/results/checkpoint-22230/
model.safetensors**
out/
datasets/Amazon/MoviesAndTV/user_items.jsonl
src/
datasets/Amazon/MoviesAndTV/reviews.pickle
